In [5]:
import pandas as pd

#Q.1 Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.


# create and display the series
s=pd.Series([4,8,15,16,23,42])
print(s)

# find the datatype of s
print(type(s))

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64
<class 'pandas.core.series.Series'>

In [7]:
# Q.2 Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.


#create the list
l1=[25,47,True,89.57,'Delhi',29.9999,'Sachin',9,[2,3,1],False]

# convert  the list to series
s1=pd.Series(l1)
print (s1)

# find the datatype of s1
print(type(s1))

0           25
1           47
2         True
3        89.57
4        Delhi
5      29.9999
6       Sachin
7            9
8    [2, 3, 1]
9        False
dtype: object
<class 'pandas.core.series.Series'>

In [8]:

# Q.3 create the pandas dataframe

#create a dictionary of the data
data={'Name':['Alice','Bob','Claire'],'Age':[25,30,27],'Gender':['Female','Male','Female']}

# convert the dictionary  to dataframe
data1=pd.DataFrame(data)
print(data1)

# identify  the datetype of data1
print(type(data))

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female
<class 'dict'>

In [10]:
# Q.4 What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

'''A DataFrame is a 2-dimensional data structure designed for handling tabular data with multiple columns, 
while a Series is a 1-dimensional data structure used to represent a single column or row of data within a DataFrame 
or as a standalone data structure'''

'''dataframe have multiple rows and multiple columns that is why it is two diamentional
   and series have only one row and one column that is why  it is one diamentional'''

'''the example is as follow:-'''

# it is dictionary
df={'a':[1,2,3],'b':[45,40,30],'c':['delhi','mumbai','kolkata']}

# defining the dataframe
dframe=pd.DataFrame(df)
# defining a column 'c' from the dataframe 'dframe' which is a series
sries=dframe['c']

#it is a dataframe which have multiple rows and multiple columns
print(dframe)
#it is a series which have only one row and one column
print(sries)


print(type(dframe))
print(type(sries))

   a   b        c
0  1  45    delhi
1  2  40   mumbai
2  3  30  kolkata
0      delhi
1     mumbai
2    kolkata
Name: c, dtype: object
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

In [21]:
# Q.5 What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
#    you give an example of when you might use one of these functions?

''' common function used for dataframe is 
head():- used to show the top 5 rows of a dataframe by default,
tail():-used to show the last 5 rows of a dataframe by default,
list():- show the dataframe columns as a list,
describe():- statistical analysis of the numerical column exsist in a particular dataframe,
categorical()- find the unique data available in a particular column of a dataframe,
unique():- this also find the unique data available in a column but it will not show the no of unique values  '''
import pandas as pd

# this is Titanic dataset
df1 = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

# list of columns
print(df1.columns)

# categorical data with the count
print(df1['Pclass'].value_counts())

# unique values only
print(df1['Pclass'].unique())

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')
Pclass
3    491
1    216
2    184
Name: count, dtype: int64
[3 1 2]

In [16]:
# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

'''The series dataframe panel datatype is mutabale we can modify the data in it
but the size of those datatype can not be changed. where as the Panel is removed from the pandas in the latest  version of python 3'''

'The series dataframe panel datatype is mutabale we can modify the data in it\nbut the size of those datatype can not be changed. where as the Panel is removed from the pandas in the latest  version of python 3'

In [14]:
# Q.7 Create a DataFrame using multiple Series. Explain with an example.


Name=pd.Series(['Rohit','Virat','Dhoni'])

Age=pd.Series([34,35,37])

Run=pd.Series([74,84,120])

Name = pd.Series(['Rohit', 'Virat', 'Dhoni'])
Age = pd.Series([34, 35, 37])
Run = pd.Series([74, 84, 120])

# Creating a DataFrame with specified index
India = pd.DataFrame({'Name': Name.values, 'Age': Age.values, 'Run': Run.values}, index=['Player1', 'Player2', 'Player3'])

print(India)

          Name  Age  Run
Player1  Rohit   34   74
Player2  Virat   35   84
Player3  Dhoni   37  120